---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<p style="text-decoration:underline;"><a href="/talkmap.html">Here is a map of the places I visited where I gave a talk/poster</a></p> 
<p> Below you can find a selected selection of conference presentations. Please see my <a href="https://aydoganyanilmaz.github.io/files/ay_cv_dec2017.pdf" style="color:#52adc8" target="_blank" rel="noopener">resume</a> for a comprehensive list. </p>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
