---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>Let me tell you my philosophy of teaching:</p>
<p><strong>I love teaching!</strong></p>
<p>Yes, as short as that! I simply love doing it. I get excited when I prepare a syllabus and pass that excitement to 
  the classroom throughout the semester. </p>
<p>I had a solid education in teaching during my undergraduate degree at <a href="http://fle.metu.edu.tr/" style="color:#52adc8" target="_blank" 
                                                                            rel="noopener">METU FLE</a>&nbsp;and I've been lucky enough to have amazing teaching role models such as <a href="https://linguistics.stonybrook.edu/faculty/richard.larson" style="color:#52adc8" target="_blank" rel="noopener">Richard Larson</a>, <a href="https://linguistics.stonybrook.edu/faculty/john.bailyn" style="color:#52adc8" target="_blank" rel="noopener">John Bailyn</a>&nbsp;and <a href="http://www.idb.hacettepe.edu.tr/En/faculty-members.html"  style="color:#52adc8" target="_blank" rel="noopener">Nalan B&uuml;y&uuml;kkantarcıoğlu</a>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
