---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>Let me tell you my philosophy of teaching: <strong>I love teaching!</strong></p>
<p>Yes, as short as that! I simply love doing it. I get excited when I prepare a syllabus and do my best to pass that excitement to 
  the classroom throughout the semester. </p>
<p>After a good education in teaching during my undergraduate degree at <a href="http://fle.metu.edu.tr/" style="color:#52adc8" target="_blank" 
                                                                            rel="noopener">METU FLE</a>, I had opportunity to teach in a variety of settings in my professional career. Also, 
I've been lucky enough to work with amazing teaching role models namely <a href="https://linguistics.stonybrook.edu/faculty/richard.larson" style="color:#52adc8" target="_blank" rel="noopener">Richard Larson</a>, <a href="https://linguistics.stonybrook.edu/faculty/john.bailyn" style="color:#52adc8" target="_blank" rel="noopener">John Bailyn</a>&nbsp;and <a href="http://www.idb.hacettepe.edu.tr/En/faculty-members.html"  style="color:#52adc8" target="_blank" rel="noopener">Nalan B&uuml;y&uuml;kkantarcıoğlu</a>

<h2><strong>Experience</strong></h2> 
<p> All of my teaching experience has been in higher education environments. Here is a timeline of my teaching experience: </p>

<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1kfTxBZc8JrTt4ZLobsIpZL7Qg5tNd5au-_7DsQeaBFQ&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>  
  
<h2><strong>Award</strong></h2> 

  {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
